<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>tika</contextName>
	<springProperty scope="context" name="app.name" source="info.build.name"/>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<conversionRule conversionWord="ctx" converterClass="com.appdirect.billing.platform.logback.ContextConverter"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%clr(%date{ISO8601}){faint} [ app=%contextName ] [ traceId=%X{traceId} ] [ spanId=%X{spanId} ] [ thread=%thread ][ level=%clr(%level) ][ logger=%clr(%logger{1}){cyan} ]: %message%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.appdirect.checkout.tika.api.exception" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
